DATABASE_URL = postgresql://neondb_owner:npg_aKFT6dIj7wmZ@ep-misty-bread-ac8bbeu3-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SECRET_KEY="uma_chave_secreta_super_segura_e_aleatoria_para_o_ambiente_de_desenvolvimento"

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30