.bottom-nav {
  position: fixed;
  bottom: 20px;

  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 40px);
  max-width: 450px;

  height: 70px;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  z-index: 9999;

  box-shadow:
    0 8px 30px rgba(0,0,0,.12);
}

.bottom-nav {
  position: fixed;
  bottom: 20px;

  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 40px);
  max-width: 450px;

  height: 70px;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  z-index: 9999;

  box-shadow:
    0 8px 30px rgba(0,0,0,.12);
}


.nav-item {
  border: none;
  background: transparent;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

  cursor: pointer;
  font-size: 22px;

  flex: 1; 
  height: 100%;
}

.nav-item.active {
  color: white;
  font-size: 20px; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
}

.nav-item.active::before {
  content: "";
  position: absolute;
  z-index: -1; 
  background: #3461A4;
  
  width: 50px;
  height: 50px;
  border-radius: 18px;
}

.nav-item.active i {
  font-size: 20px;
}

.home-page {
  padding-bottom: 120px;
}